@use "reset";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://i.pinimg.com/736x/c0/eb/c7/c0ebc71469d3e7f4583f175b8c59894b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    #status-bar,
    #pagination,
    #dock {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #status-bar {
      top: 0;
      .status-bar_container {
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
        button {
          border: none;
          outline: none;
          width: 60px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
        }
      }
    }
    #main {
      position: relative;
      width: 100%;
      height: 100%;
    }
    #dock {
      bottom: 0;
    }
  }
}
